<%= form_with(model: disciplina) do |form| %>
  <% if disciplina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disciplina.errors.count, "error") %> prohibited this disciplina from being saved:</h2>

      <ul>
        <% disciplina.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :ano_letivo %>
    <%= form.number_field :ano_letivo %>
  </div>

  <h2>Turma:</h2>

  <div class="field">
    <label name="turma_id">Letra:</label>
    <%= form.collection_select(:turma_id, Turma.all, :id, :letra,{:selected => @disciplina.turma_id}, :required => true)%>
  </div>

  <div class="field">
    <label name="turma_id">Ano</label>
    <%= form.collection_select(:turma_id, Turma.all, :id, :ano,{:selected => @disciplina.turma_id}, :required => true)%>
  </div>

  <div class="field">
    <label name="turma_id">Ano Letivo</label>
    <%= form.collection_select(:turma_id, Turma.all, :id, :ano_letivo,{:selected => @disciplina.turma_id}, :required => true)%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
