<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @disciplina.nome %>
</p>

<p>
  <strong>Ano letivo:</strong>
  <%= @disciplina.ano_letivo %>
</p>

<h2>Turma:</h2>

<p>
  <strong>Letra:</strong>
  <%= Turma.find(@disciplina.turma_id).letra %>
</p>

<p>
  <strong>Ano:</strong>
  <%= Turma.find(@disciplina.turma_id).ano %>
</p>

<p>
  <strong>Ano Letivo:</strong>
  <%= Turma.find(@disciplina.turma_id).ano_letivo %>
</p>

<h2>Atividades:</h2>
<p>
  <% @atividades.each do |atividade| %>
    <%= link_to atividade.titulo, atividade_path(atividade, :disciplina_id => @disciplina.id) %> <br>
  <% end %>
</p>

<%= link_to 'Adicionar atividade na disciplina', new_atividade_path(:disciplina_id => @disciplina.id) %> |
<%= link_to 'Voltar', disciplinas_path %>
