<p id="notice"><%= notice %></p>

<p>
  <strong>Letra:</strong>
  <%= @turma.letra %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @turma.ano %>
</p>

<p>
  <strong>Ano letivo:</strong>
  <%= @turma.ano_letivo %>
</p>

<h2>Alunos:</h2>
<p>
  <% @alunos.each do |aluno| %>
    <%= link_to aluno.nome, aluno_path(aluno, :turma_id => @turma.id) %> <br>
  <% end %>
</p>

<%= link_to 'Adicionar aluno na turma', new_aluno_path(:turma_id => @turma.id) %> |
<%= link_to 'Voltar', turmas_path %>
