<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @atividade.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @atividade.descricao %>
</p>

<p>
  <strong>Bimestre:</strong>
  <%= @atividade.bimestre %>
</p>

<p>
  <strong>Data:</strong>
  <%= @atividade.data %>
</p>

<%= link_to 'Editar', edit_atividade_path(@atividade, :disciplina_id => @disciplina.id) %> |
<%= link_to 'Voltar', disciplina_path(@disciplina) %>
