<p id="notice"><%= notice %></p>

<p>
  <strong>Pontos:</strong>
  <%= @avaliacao.pontos %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @avaliacao.observacoes %>
</p>

<p>
  <strong>Nome do aluno:</strong>
  <%= Aluno.find(@avaliacao.aluno_id).nome %>
</p>

<%= link_to 'Edit', edit_avaliacao_path(@avaliacao) %> |
<%= link_to 'Back', avaliacaos_path %>
