<p id="notice"><%= notice %></p>

<p>
  <strong>Pontos:</strong>
  <%= @avaliacao.pontos %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @avaliacao.observacoes %>
</p>

<h2>Aluno:</h2>

<p>
  <strong>Nome do aluno:</strong>
  <%= Aluno.find(@avaliacao.aluno_id).nome %>
</p>

<h2>Atividade:</h2>

<p>
  <strong>Título:</strong>
  <%= Atividade.find(@avaliacao.atividade_id).titulo %>
</p>

<p>
  <strong>Bimestre:</strong>
  <%= Atividade.find(@avaliacao.atividade_id).bimestre %>
</p>

<%= link_to 'Edit', edit_avaliacao_path(@avaliacao) %> |
<%= link_to 'Back', avaliacaos_path %>
